# Case Study - 1

## Project Introduction: Big Data Real-Time Analytics with Python and Spark 

This project showcases the practical application of Python and Spark in managing and analysing large-scale data, emphasising the importance of data preparation for successful analytics.


Dataset Description
1. Lending Club Loans: A dataset of thousands of loans made through the Lending Club platform, highlighting borrower risk and loan conditions.
2. Exchange Rates: Historical exchange rates between the US Dollar and the Euro from Yahoo Finance.

Objectives
* Data Cleaning: Preparing the datasets by handling missing values and inconsistencies.
* Real-Time Analytics: Using Python and Spark for real-time data processing and analysis.
* Insight Generation: Extracting meaningful insights for decision-making.
  
This project leverages Big Data technologies for real-time analytics using Python and Spark, guided by the Data Science Academy.

References
- [Lending Club Dataset](https://www.openintro.org/data/index.php?data=loans_full_schema)
- [Yahoo Finance Exchange Rate Data](https://finance.yahoo.com/)

In [1]:
!pip install -q -U watermark

In [2]:
import numpy as np

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
%reload_ext watermark
%watermark -a "Zelly Irigon" --iversions

Author: Zelly Irigon

numpy: 1.26.4


[set_printoptions numpy doc](https://numpy.org/doc/stable/reference/generated/numpy.set_printoptions.html#numpy-set-printoptions)

In [5]:
# Numpy print configuration
np.set_printoptions(suppress = True, linewidth = 200, precision = 2)

## Loading the dataset
- https://numpy.org/doc/stable/reference/generated/numpy.genfromtxt.html#numpy.genfromtxt

In [6]:
data = np.genfromtxt("data_set/dataset1.csv",
                     delimiter = ';',
                     skip_header = 1,
                     autostrip = True, #remove spaces
                     encoding = 'cp1252')

In [7]:
type(data)

numpy.ndarray

In [8]:
data.shape

(10000, 14)

In [9]:
data.view()

array([[48010226.  ,         nan,    35000.  , ...,         nan,         nan,     9452.96],
       [57693261.  ,         nan,    30000.  , ...,         nan,         nan,     4679.7 ],
       [59432726.  ,         nan,    15000.  , ...,         nan,         nan,     1969.83],
       ...,
       [50415990.  ,         nan,    10000.  , ...,         nan,         nan,     2185.64],
       [46154151.  ,         nan,         nan, ...,         nan,         nan,     3199.4 ],
       [66055249.  ,         nan,    10000.  , ...,         nan,         nan,      301.9 ]])

Notice how several columns above are of the nan type. This is due to special characters in the dataset and the way Numpy loads numeric and string data. Next, we will address this.

### Checking for missing values

In [10]:
np.isnan(data).sum()

88005

In [11]:
# Returns the highest value + 1 ignoring nan values.
# This arbitrary value will be used to fill missing values at the time of loading numeric variable data. 
# At a later stage, this value will be treated as a missing value.
arbitrary_value = np.nanmax(data) +1
arbitrary_value

68616520.0

In [12]:
# Calculating the mean (numeric variables) ignoring nan values per column. I will use this to separate numeric variables from string-type variables.
mean_ignoring_nan = np.nanmean(data, axis = 0)
mean_ignoring_nan

array([54015809.19,         nan,    15273.46,         nan,    15311.04,         nan,       16.62,      440.92,         nan,         nan,         nan,         nan,         nan,     3143.85])

In [13]:
# String-type columns with missing values
string_columns = np.argwhere(np.isnan(mean_ignoring_nan)).squeeze()
string_columns

array([ 1,  3,  5,  8,  9, 10, 11, 12], dtype=int64)

In [14]:
# Numeric Columns
numeric_columns = np.argwhere(np.isnan(mean_ignoring_nan) == False).squeeze()
numeric_columns

array([ 0,  2,  4,  6,  7, 13], dtype=int64)

### The dataset is imported again, separating string-type columns from numeric columns

In [15]:
## Load the string-type columns
arr_strings = np.genfromtxt('data_set/dataset1.csv',
                            delimiter = ';',
                            skip_header = 1,
                            autostrip = True,
                            usecols = string_columns,
                            dtype = str,
                            encoding = 'cp1252')

In [16]:
arr_strings

array([['May-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']], dtype='<U69')

In [17]:
## Load the numeric columns by filling in missing values
arr_numeric = np.genfromtxt("data_set/dataset1.csv",
                            delimiter = ';',
                            skip_header = 1,
                            autostrip = True,
                            usecols = numeric_columns,
                            filling_values = arbitrary_value,
                            encoding = 'cp1252')
arr_numeric

array([[48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96],
       [57693261.  ,    30000.  ,    30000.  , 68616520.  ,      938.57,     4679.7 ],
       [59432726.  ,    15000.  ,    15000.  , 68616520.  ,      494.86,     1969.83],
       ...,
       [50415990.  ,    10000.  ,    10000.  , 68616520.  , 68616520.  ,     2185.64],
       [46154151.  , 68616520.  ,    10000.  ,       16.55,      354.3 ,     3199.4 ],
       [66055249.  ,    10000.  ,    10000.  , 68616520.  ,      309.97,      301.9 ]])

### Extracting column names

In [18]:
## Load column names
arr_column_names = np.genfromtxt('data_set/dataset1.csv',
                                 delimiter = ';',
                                 autostrip = True,
                                 skip_footer = data.shape[0],
                                 dtype = str,
                                 encoding = 'cp1252')
arr_column_names

array(['id', 'issue_d', 'loan_amnt', 'loan_status', 'funded_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state', 'total_pymnt'], dtype='<U19')

In [19]:
## Separating numeric and string column headers 
header_strings, header_numeric = arr_column_names[string_columns], arr_column_names[numeric_columns]

In [20]:
header_strings

array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [21]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

## Checkpoint Function

- Using a checkpoint function is not mandatory, but it is a good practice. This function will save the current state of my strings array. If I encounter any issues later in the data processing, I can revert to the file generated by this function and recover the information from that point.

In [22]:
# Function
def checkpoint(file_name, checkpoint_header, checkpoint_data):
    np.savez(file_name, header = checkpoint_header, data = checkpoint_data)
    checkpoint_variable = np.load(file_name + ".npz")
    return(checkpoint_variable)

In [23]:
initial_checkpoint = checkpoint('data_set/initial_checkpoint', header_strings, arr_strings)

In [24]:
initial_checkpoint['data']

array([['May-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']], dtype='<U69')

In [25]:
## Validation if the new file has the same content as my arr_strings
np.array_equal(initial_checkpoint['data'], arr_strings)

True

## Manipulating the String-Type Columns

In [26]:
header_strings

array(['issue_d', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [27]:
## Adjusting the name of the 'issue_d' column to make it easier to identify
header_strings[0] = 'issue_date'

In [28]:
header_strings

array(['issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [29]:
arr_strings

array([['May-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=48010226', 'CA'],
       ['', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=57693261', 'NY'],
       ['Sep-15', 'Current', '36 months', ..., 'Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=59432726', 'PA'],
       ...,
       ['Jun-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=50415990', 'CA'],
       ['Apr-15', 'Current', '36 months', ..., 'Source Verified', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=46154151', 'OH'],
       ['Dec-15', 'Current', '36 months', ..., '', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=66055249', 'IL']], dtype='<U69')

### Preprocessing issue_date variable using Label Encoding

In [30]:
## Extracting the unique values
np.unique(arr_strings[:,0])

array(['', 'Apr-15', 'Aug-15', 'Dec-15', 'Feb-15', 'Jan-15', 'Jul-15', 'Jun-15', 'Mar-15', 'May-15', 'Nov-15', 'Oct-15', 'Sep-15'], dtype='<U69')

In [31]:
## Removing the -15 suffix and converting it to a string array
arr_strings[:,0] = np.chararray.strip(arr_strings[:,0], '-15')

In [32]:
## Extracting the unique values
np.unique(arr_strings[:,0])

array(['', 'Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep'], dtype='<U69')

In [33]:
## Creating an array with months(including as an empty element for those that are blank)
months = np.array(['','Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug','Sep','Oct','Nov','Dec'])

In [34]:
## Loop to convert the name of months to numeric values
## It's called Label Encoding
for i in range(13):
    arr_strings[:,0] = np.where(arr_strings[:,0] == months[i], i, arr_strings[:,0])

In [35]:
np.unique(arr_strings[:,0])

array(['0', '1', '10', '11', '12', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='<U69')

### Preprocessing loan_status variable using Binarization

In [36]:
header_strings

array(['issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [37]:
#Extracting the unique values from the variable
np.unique(arr_strings[:,1])

array(['', 'Charged Off', 'Current', 'Default', 'Fully Paid', 'In Grace Period', 'Issued', 'Late (16-30 days)', 'Late (31-120 days)'], dtype='<U69')

In [38]:
# Number of elements
np.unique(arr_strings[:,1]).size

9

In [39]:
# Creating an array with only 3 status
status_bad = np.array(['','Charged Off', 'Default', 'Late (31-120 days'])

In [40]:
# Checking the variable values and comparing with the previous array, converting the variable to binary values
# It is called Binarization
arr_strings[:,1] = np.where(np.isin(arr_strings[:,1], status_bad),0,1)

In [41]:
# Extracting the unique values from the variable
np.unique(arr_strings[:,1])

array(['0', '1'], dtype='<U69')

### Preprocessing 'term' variable using string cleanning

In [43]:
header_strings

array(['issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [45]:
#Extracting the unique values
np.unique(arr_strings[:,2])

array(['', '36 months', '60 months'], dtype='<U69')

In [46]:
# Removing word 'months'(******notice the space before the word)
arr_strings[:,2] = np.chararray.strip(arr_strings[:,2], ' months')
arr_strings[:,2]

array(['36', '36', '36', ..., '36', '36', '36'], dtype='<U69')

In [48]:
# Changing the name of variable
header_strings[2] = 'term_months'

In [49]:
# Replacing the missing values with the greater value, in this case, 60
arr_strings[:,2] = np.where(arr_strings[:,2] == '', '60', arr_strings[:,2])

In [50]:
arr_strings[:,2]

array(['36', '36', '36', ..., '36', '36', '36'], dtype='<U69')

In [51]:
# Extracting the unique values
np.unique(arr_strings[:,2])

array(['36', '60'], dtype='<U69')

### Preprocessing 'grade' and 'sub_grade' variables with dictionary (Label Encoding Type)

In [53]:
header_strings

array(['issue_date', 'loan_status', 'term_months', 'grade', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [56]:
# Extracting the unique values to 'grade' variable
np.unique(arr_strings[:,3])

array(['', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69')

In [57]:
# Extracting the unique values to 'sub_grade' variable
np.unique(arr_strings[:,4])

array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1',
       'G2', 'G3', 'G4', 'G5'], dtype='<U69')

Adjusting the 'sub_grade' variable

In [58]:
np.unique(arr_strings[:,3])

array(['', 'A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69')

In [60]:
# Showing the unique values without the missing values 
np.unique(arr_strings[:,3])[1:]

array(['A', 'B', 'C', 'D', 'E', 'F', 'G'], dtype='<U69')

In [62]:
# Loop to adjust the variable
for i in np.unique(arr_strings[:,3])[1:]:
    arr_strings[:,4] = np.where((arr_strings[:,4] == '') & (arr_strings[:,3] == i), i + '5', arr_strings[:,4])

In [63]:
# Returns categories and their respective counts
np.unique(arr_strings[:,4], return_counts = True)

(array(['', 'A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1',
        'G2', 'G3', 'G4', 'G5'], dtype='<U69'),
 array([  9, 285, 278, 239, 323, 592, 509, 517, 530, 553, 633, 629, 567, 586, 564, 577, 391, 267, 250, 255, 288, 235, 162, 171, 139, 160,  94,  52,  34,  43,  24,  19,  10,   3,   7,   5], dtype=int64))

In [64]:
# Replacing missing values by the new category
arr_strings[:,4] = np.where(arr_strings[:,4] == '', 'H1', arr_strings[:,4])

In [65]:
# Extracting the unique values
np.unique(arr_strings[:,4])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1', 'G2',
       'G3', 'G4', 'G5', 'H1'], dtype='<U69')

Removing the 'grade' variable

In [67]:
arr_strings = np.delete(arr_strings, 3, axis = 1)

In [68]:
# New variable in index column 3
arr_strings[:,3]

array(['C3', 'A5', 'B5', ..., 'A5', 'D2', 'A4'], dtype='<U69')

In [69]:
# Removing the 'grade' column from the array header
header_strings = np.delete(header_strings, 3)

In [70]:
# New variable in index column 3
header_strings[3]

'sub_grade'

Finally, the 'sub_grade' variable is converted to its numeric representation

In [72]:
# Extracting the unique values
np.unique(arr_strings[:,3])

array(['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2', 'B3', 'B4', 'B5', 'C1', 'C2', 'C3', 'C4', 'C5', 'D1', 'D2', 'D3', 'D4', 'D5', 'E1', 'E2', 'E3', 'E4', 'E5', 'F1', 'F2', 'F3', 'F4', 'F5', 'G1', 'G2',
       'G3', 'G4', 'G5', 'H1'], dtype='<U69')

In [73]:
# Creting a list of keys
keys = list(np.unique(arr_strings[:,3]))
keys[0]

'A1'

In [75]:
# Creating a list of values
values = list(range(1, np.unique(arr_strings[:,3]).shape[0] + 1))
values[0]

1

In [77]:
# Creating the dictionary
dict_sub_grade = dict(zip(keys, values))

In [78]:
dict_sub_grade

{'A1': 1,
 'A2': 2,
 'A3': 3,
 'A4': 4,
 'A5': 5,
 'B1': 6,
 'B2': 7,
 'B3': 8,
 'B4': 9,
 'B5': 10,
 'C1': 11,
 'C2': 12,
 'C3': 13,
 'C4': 14,
 'C5': 15,
 'D1': 16,
 'D2': 17,
 'D3': 18,
 'D4': 19,
 'D5': 20,
 'E1': 21,
 'E2': 22,
 'E3': 23,
 'E4': 24,
 'E5': 25,
 'F1': 26,
 'F2': 27,
 'F3': 28,
 'F4': 29,
 'F5': 30,
 'G1': 31,
 'G2': 32,
 'G3': 33,
 'G4': 34,
 'G5': 35,
 'H1': 36}

In [80]:
# Loop to replace the string with categories by the numeric representation(frequency)
for i in np.unique(arr_strings[:,3]):
    arr_strings[:,3] = np.where(arr_strings[:,3] == i, dict_sub_grade[i], arr_strings[:,3])

In [82]:
# Extracting the unique values
np.unique(arr_strings[:,3])

array(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35', '36', '4', '5', '6',
       '7', '8', '9'], dtype='<U69')

### Preprocessing 'verification_status' variable with Binarization

In [84]:
header_strings

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [85]:
#Extracting the unique values
np.unique(arr_strings[:,4])

array(['', 'Not Verified', 'Source Verified', 'Verified'], dtype='<U69')

In [88]:
# Using binarization
arr_strings[:,4] = np.where((arr_strings[:,4] == '') | (arr_strings[:,4] == 'Not Verified'), 0, 1)

In [89]:
# Extracting the unique values
np.unique(arr_strings[:,4])

array(['0', '1'], dtype='<U69')

### Preprocessing 'url' variable using ID extraction

In [90]:
header_strings

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'url', 'addr_state'], dtype='<U19')

In [91]:
# Extracting the unique values
np.unique(arr_strings[:,5])

array(['https://www.lendingclub.com/browse/loanDetail.action?loan_id=12606806', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=13026045',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=1312426', ..., 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=8138291',
       'https://www.lendingclub.com/browse/loanDetail.action?loan_id=8214572', 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=849994'], dtype='<U69')

In [92]:
# Extracting the id in the end of the each url
np.chararray.strip(arr_strings[:,5], "https://www.lendingclub.com/browse/loanDetail.action?loan_id=")

chararray(['48010226', '57693261', '59432726', ..., '50415990', '46154151', '66055249'], dtype='<U69')

In [93]:
# Replacing the url with id value in the url variable
arr_strings[:,5] = np.chararray.strip(arr_strings[:,5], "https://www.lendingclub.com/browse/loanDetail.action?loan_id=")

In [94]:
# Converting to type int32
arr_strings[:,5].astype(dtype = np.int32)

array([48010226, 57693261, 59432726, ..., 50415990, 46154151, 66055249])

In [96]:
# Sounds this id is present in the first column of the dataset
# converting to int32 and comparing
arr_numeric[:,0]. astype(dtype = np.int32)

array([48010226, 57693261, 59432726, ..., 50415990, 46154151, 66055249])

In [98]:
np.array_equal(arr_numeric[:,0].astype(dtype = np.int32), arr_strings[:,5].astype(dtype = np.int32))

True

Yes! It's the same information. In this case I get remove one of the columns

In [99]:
# Removing from the data array
arr_strings = np.delete(arr_strings, 5, axis = 1)

In [100]:
# Removing the header array column
header_strings = np.delete(header_strings, 5)

In [101]:
# New index column 5
arr_strings[:,5]

array(['CA', 'NY', 'PA', ..., 'CA', 'OH', 'IL'], dtype='<U69')

In [102]:
# New column list
header_strings

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'addr_state'], dtype='<U19')

In [103]:
arr_numeric[0]

array([48010226.  ,    35000.  ,    35000.  ,       13.33,     1184.86,     9452.96])

In [104]:
header_numeric

array(['id', 'loan_amnt', 'funded_amnt', 'int_rate', 'installment', 'total_pymnt'], dtype='<U19')

### Preprocessing 'addr_state' variable using Categorization

In [108]:
header_strings

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'state_address'], dtype='<U19')

In [109]:
np.unique(arr_strings[:,5])

array(['', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype='<U69')

In [110]:
# Renaming the column
header_strings[5] = 'state_address'

In [112]:
# Extracting names and counts -> Count means how often each category appears in the array
# This operation returns 2 numbers, it's why I put 2 variables (states_names and states_counts)
states_names, states_counts = np.unique(arr_strings[:,5], return_counts = True)

In [114]:
# Sorting in descending order
states_count_sorted = np.argsort(-states_counts)

In [116]:
# Printing result
states_names[states_count_sorted], states_counts[states_count_sorted]

(array(['CA', 'NY', 'TX', 'FL', '', 'IL', 'NJ', 'GA', 'PA', 'OH', 'MI', 'NC', 'VA', 'MD', 'AZ', 'WA', 'MA', 'CO', 'MO', 'MN', 'IN', 'WI', 'CT', 'TN', 'NV', 'AL', 'LA', 'OR', 'SC', 'KY', 'KS', 'OK',
        'UT', 'AR', 'MS', 'NH', 'NM', 'WV', 'HI', 'RI', 'MT', 'DE', 'DC', 'WY', 'AK', 'NE', 'SD', 'VT', 'ND', 'ME'], dtype='<U69'),
 array([1336,  777,  758,  690,  500,  389,  341,  321,  320,  312,  267,  261,  242,  222,  220,  216,  210,  201,  160,  156,  152,  148,  143,  143,  130,  119,  116,  108,  107,   84,   84,   83,
          74,   74,   61,   58,   57,   49,   44,   40,   28,   27,   27,   27,   26,   25,   24,   17,   16,   10], dtype=int64))

In [117]:
# Replacing missing values by zero
arr_strings[:,5] = np.where(arr_strings[:,5] == '', 0 , arr_strings[:,5])

Organising states by region. Reference: https://www2.census.gov/geo/pdfs/maps-data/maps/reference/us_regdiv.pdf

In [118]:
# Creating arrays with states to each region
states_west = np.array(['WA', 'OR', 'CA', 'NV', 'ID', 'MT', 'WY' ,'UT', 'CO', 'AZ', 'NM', 'HI', 'AK'])
states_south = np.array(['TX', 'OK', 'AR', 'LA', 'MS', 'AL', 'TN', 'KY', 'FL', 'GA', 'SC','NC', 'VA', 'WV','MD', 'DE', 'DC'])
states_midwest = np.array(['ND', 'SD', 'NE', 'KS', 'MN', 'IA', 'MO', 'WI', 'IL', 'IN', 'MI', 'OH'])
states_east = np.array(['PA', 'NY', 'NJ', 'CT', 'MA', 'VT', 'NH', 'ME', 'RI'])

In [121]:
# Replacing each state by its id region
arr_strings[:,5] = np.where(np.isin(arr_strings[:,5], states_west), 1, arr_strings[:,5])
arr_strings[:,5] = np.where(np.isin(arr_strings[:,5], states_south), 2, arr_strings[:,5])
arr_strings[:,5] = np.where(np.isin(arr_strings[:,5], states_midwest), 3, arr_strings[:,5])
arr_strings[:,5] = np.where(np.isin(arr_strings[:,5], states_east), 4, arr_strings[:,5])

In [122]:
# Extracting the unique values
np.unique(arr_strings[:,5])

array(['0', '1', '2', '3', '4'], dtype='<U69')

**I can modify the data, but I cannot modify the information!**

### Converting the array
My strings array is now a numeric array, after all the transformations above. I need to adjust the data type

In [123]:
arr_strings

array([['5', '1', '36', '13', '1', '1'],
       ['0', '1', '36', '5', '1', '4'],
       ['9', '1', '36', '10', '1', '4'],
       ...,
       ['6', '1', '36', '5', '1', '1'],
       ['4', '1', '36', '17', '1', '3'],
       ['12', '1', '36', '4', '0', '3']], dtype='<U69')

In [124]:
arr_strings = arr_strings.astype(int)

In [125]:
arr_strings

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

In [127]:
arr_strings.dtype

dtype('int32')

## Checkpoint with clean and preprocessed string variables
Checkpoint 2
I finished the first part, now I will record the checkpoint.

In [129]:
checkpoint_strings = checkpoint('data_set/checkpoint-strings', header_strings, arr_strings)

In [130]:
checkpoint_strings['header']

array(['issue_date', 'loan_status', 'term_months', 'sub_grade', 'verification_status', 'state_address'], dtype='<U19')

In [131]:
checkpoint_strings['data']

array([[ 5,  1, 36, 13,  1,  1],
       [ 0,  1, 36,  5,  1,  4],
       [ 9,  1, 36, 10,  1,  4],
       ...,
       [ 6,  1, 36,  5,  1,  1],
       [ 4,  1, 36, 17,  1,  3],
       [12,  1, 36,  4,  0,  3]])

In [132]:
np.array_equal(checkpoint_strings['data'], arr_strings)

True